<!-- Footer -->
<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-8">
                    <div class="footer-column pull-left">
                        <h4>Shopping Guide</h4>
                        <ul class="links">
                            <li class="first"><a href="#" title="How to buy">How to buy</a></li>
                            <li><a href="faq.html" title="FAQs">FAQs</a></li>
                            <li><a href="#" title="Payment">Payment</a></li>
                            <li><a href="#" title="Shipment&lt;/a&gt;">Shipment</a></li>
                            <li><a href="#" title="Where is my order?">Where is my order?</a></li>
                            <li class="last"><a href="#" title="Return policy">Return policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-column pull-left">
                        <h4>Style Advisor</h4>
                        <ul class="links">
                            <li class="first"><a title="Your Account" href="login.html">Your Account</a></li>
                            <li><a title="Information" href="#">Information</a></li>
                            <li><a title="Addresses" href="#">Addresses</a></li>
                            <li><a title="Addresses" href="#">Discount</a></li>
                            <li><a title="Orders History" href="#">Orders History</a></li>
                            <li class="last"><a title=" Additional Information" href="#">Additional Information</a></li>
                        </ul>
                    </div>
                    <div class="footer-column pull-left">
                        <h4>Information</h4>
                        <ul class="links">
                            <li class="first"><a href="sitemap.html" title="Site Map">Site Map</a></li>
                            <li><a href="#" title="Search Terms">Search Terms</a></li>
                            <li><a href="#" title="Advanced Search">Advanced Search</a></li>
                            <li><a href="contact_us.html" title="Contact Us">Contact Us</a></li>
                            <li><a href="#" title="Suppliers">Suppliers</a></li>
                            <li class=" last"><a href="#" title="Our stores" class="link-rss">Our stores</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="footer-column-last">
                        <div class="newsletter-wrap">
                            <h4>Sign up for emails</h4>
                            <form id="newsletter-validate-detail" method="post" action="#">
                                <div id="container_form_news">
                                    <div id="container_form_news2">
                                        <input type="text" class="input-text required-entry validate-email" value="Enter your email address" onFocus=" this.value='' " title="Sign up for our newsletter" id="newsletter" name="email">
                                        <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="social">
                            <h4>Pratite nas</h4>
                            <ul class="link">
                                <li class="fb pull-left"><a href="#"></a></li>
                                <li class="tw pull-left"><a href="#"></a></li>
                                <li class="googleplus pull-left"><a href="#"></a></li>
                                <li class="linkedin pull-left"><a href="#"></a></li>
                            </ul>
                        </div>
                        <div class="payment-accept">
                            <div><img src="../../resources/images/payment-1.png" alt="payment1"> <img src="../../resources/images/payment-2.png" alt="payment2"> <img src="../../resources/images/payment-3.png" alt="payment3"> <img src="../../resources/images/payment-4.png" alt="payment4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div><img src="../../resources/images/footer-logo.png" alt=""></div>
                <address>
                    <i class="icon-location-arrow"></i> Sarajevo, Bosna i Hercegovina <i class="icon-mobile-phone"></i><span> +(387) 61 811-922</span> <i class="icon-envelope"></i><span> mojevjencanjebih@gmail.com</span>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 coppyright">&copy; 2017 Edvin Mulabdic. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>